@headerHeight: 60px;
@borderRadius: 4px;

// d-flex flex-row/column justify-content-start/center/end-between align-items-start/end/center flex-wrap/nowrap
// w/h-25/50/75/100/auto
// m/p-t/b/s/e/x/y-0/1/2/3/5/auto
// border border-top/end/bottom/start-0/1/2/3/5
// rounded rounded-top/end/bottom/start/circle/pill 0/1/2/3/4/5
// shadow-none/sm/lg

.setHoverScrollbarStyle() {
  /* ff */
  scrollbar-width: thin;
  scrollbar-color: inherit inherit;

  /* chrome */
  &::-webkit-scrollbar {
    width: 6px;
    height: 6px;
    background-color: inherit;
    opacity: 0;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: inherit;
  }

  &::-webkit-scrollbar-track {
    background-color: inherit;
  }

  &::-webkit-scrollbar-button {
    display: none;
  }

  &:hover {
    scrollbar-color: #c4c4c4 inherit;

    &::-webkit-scrollbar-thumb {
      background-color: #aaa;
    }
  }
}

.objectdiagram {
  .d-header {
    background-color: #fff;
    height: @headerHeight;

    .d-header-btns {
      display: flex;
      align-items: center;
      gap: 10px;
    }

    .d-name {
      border-radius: 0;

      &:focus {
        border-radius: 0.375rem;
      }
    }
  }

  .d-content {
    background-color: rgb(240, 240, 240);
    height: calc(~"100% - @{headerHeight}");

    .d-svgContainer {
      background-color: #fff;
      
      &.d-svg-mouse {
        svg {
          background: white;
        }

        * {
          -webkit-user-select: none; /* Safari */
          -ms-user-select: none; /* IE 10 and IE 11 */
          user-select: none; /* Standard syntax */
        }
      }

      .d-table {
        .d-table-border {
          height: 100%;
          border: 1px solid #333;
          border-radius: @borderRadius;
          position: relative;
          background: #fff;
          overflow: hidden;
          position: relative;

          &.d-table-selected {
            border-color: green;
          }

          .d-table-header {
            padding: 10px 10px 5px 10px;
            // position: sticky;
            // top: 0;
            // background-color: #fff;

            .d-table-title {
              color: #333;
              font-weight: bold;
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            }
  
            .d-table-title-line {
              border-top: 1px solid green;
            }
          }


          .d-table-attrs {
            padding: 0 5px 0 10px;
            gap: 5px;
            overflow: auto;
            .setHoverScrollbarStyle();

            .d-attr {
              gap: 5px;
              // height: inherit;
              white-space: nowrap;
              overflow-x: clip;
              text-overflow: ellipsis;

              .d-attr-required {
                color: red;
                margin-left: -5px;
              }

              .d-attr-color {
                min-width: 10px;
                height: 10px;
                border-radius: @borderRadius;
              }
            }
          }

          .d-resizer {
            cursor: nw-resize;
            position: absolute;
            bottom: -3px;
            right: 1px;
          }
        }
      }

      .d-grid-point {
        z-index: -1;
        fill: #c3c3c3;
      }
    }
  }
}
